body {
    background-color: #003049;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10%;
}
.containerOne {
    display: flex;
    margin: auto;  
}
.containterTwo {
    flex: 1;
    padding: 0 20px;
}
.containerThree {
    background-color: #4d8b31;
    padding: auto;
    border: 1px solid black;
    border-radius: 10px;
}
.containerFour {
    display: flex;
}

.col {
    flex: 25%;
    padding: 0 20px; 
}

.row {
    display: flex;
    flex-wrap: wrap;   
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input {
    width: 75%;
    margin-bottom: 5px;
    padding: 10px;
    border: 2px solid #fcbf49;
    border-radius: 5px;
}

h3 {
    font-size: 35px;
}

